/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.HelveticaNeueLTPro-Lt { 
    font-family: HelveticaNeueLTPro-Lt;
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'National-Regular';
    src: url("../fonts/National-Regular.otf") format("opentype");
}

body{
    width: 100%;
    height: 100%;
    font-family: HelveticaNeueLTPro-Lt;
}

#dialoguebox{
    position: absolute;
    width: 98%;
    height: 98%;
    background-color: black;
    opacity: 0.8;
    display: none;
    z-index: 100;
    text-align: center;
}

#closebox{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
    color: white;
    opacity: 1.0;
    display: none;
    z-index: 101;
}

#canvas{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
}

#header{
    position: relative;
    width: 100%;
    height: 8%;
    background-color: #12abde;
    color: #ffffff;
    line-height: 100%;
}

.titleleft{
/*    border: solid red 1px;*/
    position: absolute;
    font-family: 'National-Regular';
    width: auto;
    height: 20px;
    margin: auto auto;
    top: 0;
    bottom: 0;
    margin-left: 10px;
}

.titleright{
/*    border: solid red 1px;*/
    position: absolute;
    font-family: 'National-Regular';
    width: auto;
    height: 20px;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: 10px;
}

#graph{
/*    border: solid red 1px;*/
    position: relative;
    width: 100%;
    height: 40%;
    margin: auto auto;
    left: 0;
    right: 0;
}

#graphstyles{
/*    border: solid blue 1px;*/
    position: relative;
    width: 60%;
    min-width: 500px;
    height: 100%;
    margin: auto auto;
    left: 0;
    right: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

#triangleleft {
    position: absolute;
    width: 0;
    height: 0;
    top: 40%;
    border-top: 20px solid transparent;
    border-right: 40px solid #4d5057;
    border-bottom: 20px solid transparent;
    z-index: 99;
    opacity: 0.2;
    margin-left: 10px;
}

#triangleright {
    position: absolute;
    width: 0;
    height: 0;
    top: 40%;
    right: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid #4d5057;
    border-bottom: 20px solid transparent;
    z-index: 99;
    opacity: 0.2;
    margin-right: 10px;
}

#invoicesheader{
    position: relative;
    width: 100%;
    height: 6%;
    background-color: #12abde;
    color: #ffffff;
    line-height: 100%;
}

#invoices{
    position: relative;
    height: calc(46% - 2px);
    width: 100%;
    background-color: #3d4046;
    overflow: auto;
}

.invoice{
    position: relative;
    height: 65px;
    width: 100%;
    border-bottom: solid 3px #4d5057;
}

.item{

    position: absolute;
    width: auto;
    height: 20px;
    margin: auto auto;
    top: 0;
    bottom: 0;
    margin-left: 20px;
    color: white;

}

.tick{
    position: absolute;
    background-color: #4d5057;
    width: 30px;
    height: 30px;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: 35%;
    color: white;
    border-radius: 80px;
    line-height: 30px;
    text-align: center;
}

.date{
    position: absolute;
    width: auto;
    height: 20px;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: 3%;
    color: white;
    float: left;

    max-width: 150px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
